body {
  background-color:#193642;
  padding:0;
  margin:0;
  font-family:arial,sans-serif;
  font-weight:normal;
}

h1 {
  border-top:2px solid #40484c;
  margin:0;
  padding-top:10px;
  padding-left:30px;
  color:#b6b6b6;
}

div#header {
  width:100%;
  height:180px;
  margin-bottom:80px;
  background-image:url('../images/bluewood.png');
  background-repeat:no-repeat;
  background-position:center left;
}

div#header a#trunk-logo img {
  position:absolute;
  left:20px;
  top:56px;
  border:0;
}

div#header div#contact-details {
  color:#b6b6b6;
  float:right;
  margin:13px 55px 0 0;
  font-size:11pt;
}

div#header img#elephant {
  float:right;
  clear:right;
  margin:10px 15px 0 0;
}

div#movies-background {
  padding:5px;
  background-color:#000;
  height:385px;
}

div#movies-frame{
  margin:0 auto;
  width:550px;
}

div#movies-frame div#movies-nagivation a {
  border:0;
  outline:none;
}

div#movies-frame div#movies-nagivation a img{
  border:0;
}

div#movies-window {
  background-image:url('../images/video-background.png');
  background-repeat:no-repeat;
  background-position:center;

  height:290px;
  overflow:hidden;
  width:550px;
  padding-top:5px;
  margin-top:20px;
}

div#movies {
  width:1000%; /* needs to be massive so all the vids can cram in to it.*/
}

div#movies object{
  padding:100px;
  margin:0;
  border:0;
}