body {
  background-color:#193642;
  padding:0;
  margin:0;
  font-family:arial,sans-serif;
  font-weight:normal;
}

h1 {
  border-top:2px solid #40484c;
  margin:0;
  padding-top:10px;
  padding-left:30px;
  color:#b6b6b6;
}

div#header {
  width:100%;
  height:180px;
  margin-bottom:80px;
}

div#header a#trunk-logo img {
  position:absolute;
  left:20px;
  top:56px;
  border:0;
}

div#header div#contact-details {
  color:#b6b6b6;
  float:right;
  margin:13px 55px 0 0;
  font-size:11pt;
}

div#header img#elephant {
  float:right;
  clear:right;
  margin:10px 15px 0 0;
}

div#movies-background {
  padding:5px;
  background-color:#000;
  height:450px;
}

div#movies-frame{
  margin:0 auto;
  width:750px;
}

div#movies-window {
  background-image:url('../images/video-background.png');
  background-repeat:no-repeat;
  background-position:center center;

  height:390px;
  overflow:hidden;
  width:750px;
  padding-top:2px;
}

div#movies {
  width:1000%; /* needs to be massive so all the vids can cram in to it.*/
}

div#movies .movie{
  padding:0 100px;
  margin:0;
  border:0;
  display:inline;
}

ul#movies-nagivation {
  margin:0;
  padding:0;
  margin-left:43px;
}

ul#movies-nagivation li {
  float:left;
  height:50px;
  width:90px;
  list-style-type: none;
}

ul#movies-nagivation li a {
  height:0;
  float:left;
  overflow:hidden;
  outline:none;
  padding-top:55px;
  width:100%;
  background-image:url('../images/scroll-ball.png');
  background-repeat:no-repeat;
  background-position:top;
}

ul#movies-nagivation li a.scroll-ball {
  margin-top:10px;
  padding-top:45px;
}

ul#movies-nagivation li a.selected {
  background-image:url('../images/scroll-ball-selected.png');
}

ul#movies-nagivation li a#scroll-left {
  background-image:url('../images/arrow-l.png');
}

ul#movies-nagivation li a#scroll-right {
  background-image:url('../images/arrow-r.png');
}
