body {
  background-color:#193642;
  padding:0;
  margin:0;
}

h1 {
  border-top:2px solid #40484c;
  margin:0;
  padding-top:10px;
  padding-left:30px;
  font-family:arial,sans-serif;
  font-weight:normal;
  color:#b6b6b6;
}

div#header {
  padding:0 10px;
}

div#movies-background {
  padding:5px;
  background-color:#000;
  height:290px;
}

div#movies-frame{
  margin:0 auto;
  width:820px;
}

div#movies-frame a{
  float:left;
  width:50px;
  border:1px solid red;
}

div#movies-window {
  background-image:url('../images/video-background.png');
  background-repeat:no-repeat;
  background-position:center;

  height:290px;
  overflow:hidden;
  width:550px;
  float:left;
}

div#movies {
  width:1000%;
}

div#movies object{
  padding:100px;
  margin:0;
  border:0;
}